.questCard {
    height: 400px;
    width: 300px;
    background-image: url("/static/images/questTemplate.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
    border-radius: 5% 13% 13% 5%;
    margin-bottom: 50px;
}

.questCategory {
    font-size: 30px;
}

.questDescription {
    margin-left: 30px;
    margin-right: 50px;
    font-size: 25px;
}

.questName {
    font-size: 25px;
    margin-bottom: 0px;
}

.questReward {
    font-size: 40px;
}

.questReward img {
    height: 70px;
    width: 70px;
}