.artifactCard {
    height: 400px;
    width: 300px;
    background-image: url("/static/images/artifactTemplate.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
    border-radius: 5% 13% 13% 5%;
    margin-bottom: 50px;
}

.artifactCategory {
    font-size: 30px;
}

.artifactDescription {
    margin-left: 30px;
    margin-right: 50px;
    font-size: 25px;
}

.artifactName {
    font-size: 25px;
    margin-bottom: 0px;
}

.artifactPrice {
    font-size: 40px;
}

.artifactPrice img {
    height: 70px;
    width: 70px;
}

.artifactPrice img:hover{
    cursor: pointer;
}